* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.head {
  width: 100%;
  height: 50px;
  background-color: aqua;
  display: grid;
  place-items: center;
  font-size: 14px;
}
.head nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head nav img {
  width: 100px;
}

.nav-links {
  text-decoration: none;
  color: black;
}

.nav-links:not(:first-child) {
  margin-left: 20px;
}
