@use "variables" as v;
.head {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: grid;
  place-items: center;
  font-size: 14px;
  padding-top: 1em;
  nav {
    width: 90%;
    max-width: 72em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 100px;
    }
  }
}

.nav-links {
  text-decoration: none;
  color: v.$vdblue;
}
.nav-links:not(:first-child) {
  margin-left: 20px;
}

@media only screen and (min-width: 48em) {
  .head {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: grid;
    place-items: center;
    font-size: 1rem;
    nav {
      width: 90%;
      max-width: 72em;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 120px;
      }
    }
  }
}
