// primary-colors
$vdblue: hsl(243, 87%, 12%);
$desblue: hsl(238, 22%, 44%);
// accent-colors
$briblue: hsl(224, 93%, 58%);
$modcyan: hsl(170, 45%, 43%);
// neutral-colors
$grablue: hsl(240, 75%, 98%);
$ligray: hsl(0, 0%, 75%);
